body {
  background-color: rgba(229, 229, 229);
}

.halfColumn {
  flex-basis: 50%;
}

img {
  width: 90%;
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.mainCont {
  background-color: rgb(240, 240, 240);
  width: 100%;
}

.codeJournal {
  display: flex;
}

.codeJournal a {
  color: white;
  margin-left: 20px;
  width: 100%;
}

.rowCont {
  padding: 10px;
}

.form {
  margin-bottom: 20px;
  width: 100%;
  padding: 10px;
}

.row textarea {
  width: 100%;
}

.row label {
  font-size: 20px;
}

.row input {
  width: 100%;
  height: 30px;
}

.saveBtn {
  background-color: rgb(87, 43, 130);
  color: white;
  position: relative;
  right: -87%;
  margin-top: 10px;
  height: 30px;
  width: 60px;
  border-radius: 5px;
}

.formJournal {
  background-color: rgb(87, 43, 130);
  color: white;
}

.input:focus,
.notes:focus {
  outline: 2px solid rgb(87, 43, 130);
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

.journal {
  height: 70px;
  font-size: 1.3rem;
}

.newBtn {
  background-color: rgb(87, 43, 130);
  color: white;
  height: 30px;
  width: 60px;
  border-radius: 5px;
  position: relative;
  left: 70%;
}

.topBtn {
  margin-top: 20px;
}

.bottomBtn {
  margin-top: 20px;
}

.noEntries {
  text-align: center;
  background-color: rgba(229, 229, 229);
}

div > h4 {
  margin-left: 20px;
}

.editDiv {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.edit {
  background-color: rgb(240, 240, 240);
  border: none;
  font-size: 18px;
  color: rgb(87, 43, 130);
}

.bottomForm {
  display: flex;
  position: relative;
}

.deleteEntry {
  position: absolute;
  font-size: 20px;
  top: 15px;
}

.deleteEntry a {
  text-decoration: none;
  color: black;
}

.modal-delete {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.modal-add-entry {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 300px;
}

.deleteText {
  position: relative;
  left: 5%;
}

.delete-yes,
.delete-no {
  padding: 0.4rem 1rem;
  position: relative;
  margin-bottom: 10px;
}

.delete-yes {
  border: none;
  border-radius: 5px;
  background-color: rgba(128, 128, 128, 0.431);
  cursor: pointer;
}

.delete-no {
  right: -201%;
  background-color: red;
  cursor: pointer;
  color: white;
  border: none;
  border-radius: 5px;
}

.delete-header {
  font-weight: bold;
}

@media screen and (min-width: 768px) {
  .fullColumn {
    flex-basis: 100%;
  }

  .formJournal {
    width: 100%;
  }

  ul {
    width: 50%;
    margin: 0 auto;
  }

  .journal {
    width: 100%;
  }

  img {
    width: 100%;
  }

  .newBtn {
    left: 68%;
  }

  .topBtn {
    margin-top: 0;
    bottom: 140%;
    left: 90%;
  }

  .rowCont {
    width: 100%;
    background-color: rgb(240, 240, 240);
  }

  .mainCont {
    width: 50%;
  }

  .container {
    width: 50%;
  }
}
