body {
  background-color: rgba(229, 229, 229);
}

.halfColumn {
  flex-basis: 50%;
}

img {
  width: 90%;
}

a {
  text-decoration: none;
}

.mainCont {
  width: 100%;
}

.codeJournal {
  display: flex;
}

.codeJournal a {
  color: white;
  margin-left: 20px;
  width: 100%;
}

.rowCont {
  padding: 10px;
}

.form {
  background-color: rgb(240, 240, 240);
  margin-bottom: 20px;
  width: 100%;
  padding: 10px;
}

.row textarea {
  width: 100%;
}

.row label {
  font-size: 20px;
}

.row input {
  width: 100%;
  height: 30px;
}

.saveBtn {
  background-color: rgb(87, 43, 130);
  color: white;
  position: relative;
  right: -87.5%;
  margin-top: 10px;
  height: 30px;
  width: 60px;
  border-radius: 5px;
}

.formJournal {
  background-color: rgb(87, 43, 130);
  color: white;
}

.input:focus,
.notes:focus {
  outline: 2px solid rgb(87, 43, 130);
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

.journal {
  height: 70px;
  font-size: 1.3rem;
}

.newBtn {
  background-color: rgb(87, 43, 130);
  color: white;
  height: 30px;
  width: 60px;
  border-radius: 5px;
  position: relative;
  left: 70%;
}

.bottomBtn {
  top: 30%;
}

.topBtn {
  margin-top: 20px;
}

.noEntries {
  text-align: center;
}

div > h4 {
  margin-left: 20px;
}

@media screen and (min-width: 768px) {
  .fullColumn {
    flex-basis: 100%;
  }

  .formJournal {
    width: 50%;
  }

  ul {
    width: 50%;
    margin: 0 auto;
  }

  .journal {
    width: 100%;
  }

  img {
    width: 100%;
  }

  .topBtn {
    margin-top: 0;
    bottom: 140%;
    left: 87%;
  }

  .rowCont {
    width: 100%;
    background-color: rgb(240, 240, 240);
  }

  .mainCont {
    width: 50%;
  }
}
