.halfColumn {
  flex-basis: 50%;
}

img {
  width: 90%;
}

.container {
  background-color: rgba(229, 229, 229);
}

.form {
  background-color: rgb(240, 240, 240);
  margin-bottom: 20px;
}

.row textarea {
  width: 100%;
}

.row label {
  font-size: 20px;
}

.row input {
  width: 100%;
  height: 30px;
}

.saveBtn {
  background-color: rgb(87, 43, 130);
  color: white;
  position: relative;
  right: -87.5%;
  margin-top: 10px;
  height: 30px;
  width: 60px;
  border-radius: 5px;
}

.formJournal {
  background-color: rgb(87, 43, 130);
  color: white;
  width: 100%;
  margin: 0 auto;
}

.input:focus,
.notes:focus {
  outline: 2px solid rgb(87, 43, 130);
}

li {
  list-style: none;
}

.journal {
  height: 70px;
  display: flex;
  align-items: center;
  font-size: 1.3rem;
}

.newBtn {
  background-color: rgb(87, 43, 130);
  color: white;
  height: 30px;
  width: 60px;
  border-radius: 5px;
  position: relative;
  left: 70%;
}

@media screen and (min-width: 768px) {
  .fullColumn {
    flex-basis: 100%;
  }

  .formJournal {
    width: 50%;
  }

  ul {
    width: 50%;
    margin: 0 auto;
  }

  .journal {
    width: 100%;
  }

  img {
    width: 100%;
  }
}
